$brand-color:         #ffffffe7;
// $brand-background: linear-gradient(-2deg, rgb(155, 156, 155), rgb(39, 65, 91));
$paper-background: url(#{$asset_url}/images/notebook-dark.png);
 

$background: linear-gradient(170deg, #e8c15ed9, #374f74cf);

$brand-background: $background;

//$highlight:           #f3d250;
$highlight:           lighten($brand-color, 35%);
$text-color:          #181467;
$muted-text-color: rgba(103, 20, 56, 0.708);
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;