<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}{% if page.title and page.title != "" %} &mdash; {{ page.title }}{% endif %}</title>

  {% if site.description %}
  <meta name="description" content="{{ site.description }}">{% endif %}

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}?{{ site.time | date: '%s%N' }}">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">


  <link rel="apple-touch-icon" href="{{ site.icon }}">

  {%- if jekyll.environment == 'production' and site.google_analytics -%}
  {%- include google-analytics.html -%}
  {%- endif -%}

  <!-- Plausible Analytics -->

  <script defer data-domain="scribbles.shreyasgokhale.com" src="https://analytics.cirrus.shreyasgokhale.com/js/plausible.js"></script>

  <!-- Netlify CMS -->

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</head>

<body>

  {% if page.layout == 'home' %}
  <a href="#main" class="skip-navigation">
    Skip to list of posts
  </a>
  {% else %}
  <a href="#main" class="skip-navigation">
    Skip to content
  </a>
  {% endif %}

  {{ content }}

  {% unless site.hide_search %}
  {% include search.html %}
  {% endunless %}

  {% include menu.html %}

  {% unless site.hide_credits %}
  <aside class="site-credits">
    <p>
      <small>Modified <a href="https://github.com/patdryburgh/hitchens">Hitchens </a> Theme Template </small>
    </p>
  </aside>
  {% endunless %}

  <!-- Netlify CMS -->

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

</body>

</html>
